body {
	background: black;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	color: burlywood;
}

ul {
	display: flex;
}

li {
	margin: 0.5rem;
	list-style: none;
	text-transform: capitalize;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: burlywood;
}

/* a:visited {
	color: red;
} */

.about_heading {
	color: burlywood;
	display: flex;
	justify-content: center;
	/* background: url("/img/jojo-sharemyfoodd-HaRewqCSE9I-unsplash.jpg") no-repeat; */
	background-size: cover;
	object-fit: center;
}

.about_details {
	width: 30rem;
}

.about_heading h1 {
	text-transform: uppercase;
	text-align: center;
	/* color: saddlebrown; */
}
.about_heading p {
	text-align: center;
	/* color: burlywood; */
}

#story {
	background: white;
	display: flex;
	padding: 2rem;
	margin: 2rem;
}

.first {
	width: 50rem;
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 80rem; */
}

.first h1 {
	transform: rotate(270deg);
	text-transform: uppercase;
	color: saddlebrown;
	/* text-align: center; */
}

/* .second {
	padding: 5rem;
} */

.second-img {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-wrap: wrap;
	margin: 1rem;
}

.div_one,
.div_two,
.div_three {
	width: 20rem;
	margin: 0.25rem;
}

.div_two {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
}

.div_one img {
	width: 100%;
	margin: 0.25rem;
}

.div_two img {
	width: 100%;
	margin: 0.25rem;
}

#contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	background: saddlebrown;
	margin: 2rem;
	padding: 5rem;
}

#contact p {
	text-transform: uppercase;
	font-size: 1.7rem;
}

.con_btn {
	background: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 30px;
	width: 150px;
	text-align: center;
	padding: 0.5rem;
	text-transform: uppercase;
}

.con_btn:hover {
	color: saddlebrown;
	background: white;
	cursor: pointer;
}

.footer_item {
	width: 15rem;
}

.f-title {
	text-transform: uppercase;
	color: burlywood;
}

#footer {
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

input {
	margin: 0.5rem 0;
	border-color: transparent;
	background: transparent;
	border-bottom: 1px solid burlywood;
	outline: none;
	color: white;
}

.submit {
	background: burlywood;
	color: white;
	padding: 0.2rem;
	width: 8rem;
}

.submit:hover {
	background: saddlebrown;
}

footer {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background: saddlebrown;
	padding: 2rem;
}
